<div id="container" class="onepcssgrid-1000">
	<h1>Ben's Better Tube Viewer</h1>

	<input type="text" id="user-query" placeholder="Enter search query..." />
	<input type="button" name="submit-buttton" value="Search" onclick="search()" />

	<div>
		<ul id="images"><li><a href="thumbnail.jpg">video titiel</a></li></ul>
	</div>

	<pre id="data"></pre>
</div>